@import url('https://fonts.googleapis.com/css2?family=Acme&family=Mooli&family=Sigmar&display=swap');

.nav-link:hover{
    text-decoration:underline;
}
.collapse{
    font-size: 20px;
    margin: 5px;
    justify-content: center;
}
.img-logo{
    height: 40px;
    margin: 10px;
    /* padding: 5px; */
}

.container-promo h2{
    text-align: center;
    color: rgb(255,96,3);
    margin: 10px;
}

.container-promo h3{
    color: rgb(255,96,3);
}

.social-icons svg{
    color: white;
    width: 45px;
    height: 40px;
    margin: 20px;
}


.container-footer h2{
    font-family: 'Acme', sans-serif;
    font-family: 'Mooli', sans-serif;
}

.col-md-4 img{
    cursor:pointer;
}
.card-body h3:hover{
    cursor: pointer;
    color: rgb(206, 88, 14);
}