h1, h2{
    text-align: center;
}

.formulario{
    border: 3px groove;
}

.part-form{
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

input{
    margin: 6px;
}

#ddd-tel{
    border: 0;
    width: 15px;
}
#tel{
    width: 150px;
}

.atividades {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input:not([type=radio]):not([type=checkbox]) {
    box-sizing: border-box;
    width: 200px;
}