body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.tabela-brasileirao{
    display: table;
    width: 100%;
    max-width: 900px;
    margin: auto;   
    margin-top: 20px;
}

.linha-cabecalho{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    font-weight: bold;
    height: 40px;
}

.linha{
    display: flex;
    flex-direction: row;
    min-width: 800px;
    border: 1px dotted #ddd;
}

.coluna{
    flex: 1;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

img{
    height: 25px;
    margin-right: 5px;
}

.coluna span {
    margin-right: 10px;
}
