@import url('https://fonts.googleapis.com/css2?family=Acme&family=Mooli&family=Sigmar&display=swap');

.nav-link:hover{
    text-decoration:underline;
}
.collapse{
    font-size: 20px;
    margin: 5px;
    justify-content: center;
}
.img-logo{
    height: 40px;
    margin: 10px;
    /* padding: 5px; */
}

.container-pedid h2{
    text-align: center;
    color: rgb(255,96,3);
    margin: 10px;
}

.container-pedid p {
    font-size: 20px;
    text-align: center;

}
.btn-custom-orange{
    background-color: rgb(225, 96, 3);
    color: white;   
    margin: 25px;
    padding: 10px;
    border: rgb(225, 96, 3);
}

.btn-custom-orange:hover{
    background-color: rgb(206, 88, 14);
}

.btn-custom-orange:active{
    box-shadow: 0 0 10px rgb(206, 88, 14);
}

.social-icons svg{
    color: white;
    width: 45px;
    height: 40px;
    margin: 20px;
}


.container-footer h2{
    font-family: 'Acme', sans-serif;
    font-family: 'Mooli', sans-serif;
}